// scss modules get the variables must using name spaces
@use "../globals/utils" as word;
// if you prefer not using nam spaces but it will encountered problem when you using same name variable,because that will overides the value each other
//@use "../globals/utils" as *;
@forward "colors";

html {
  // if you add padding and margin will included in final width and height
  box-sizing: border-box;
  // accebility purpose for in your browser match with default font size
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  //name spaces
  font-family: word.$font;
  background-color: var(--background-color);
  color: var(--text-color);
  // display: grid;
  // justify-content: center;
}
