//BEM
//this is block
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  width: min(100% - 40px, 1000px);
  // max-width: 1000px;
  //centering the content
  margin-inline: auto;

  @media (min-width: 900px) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
  //this is element
  //this is coumpound selector apply modifier to both of element
  &__main,
  &__sidebar {
    padding: 40px;
  }
  &__main {
    background-color: hsl(0, 95%, 60%);
  }
  &__sidebar {
    background-color: hsl(240, 84%, 45%);
  }
}
